<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></mat-grid-tile>
  <mat-grid-tile><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/great-ocean-road-174028267-1494616481.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*"></mat-grid-tile>
  <mat-grid-tile><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/great-ocean-road-128394846-1494616348.jpg?crop=1xw:1xh;center,top&resize=980:*"></mat-grid-tile>
  <mat-grid-tile><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-venice-gettyimages-489741024-1505338894.jpg?crop=1xw:1xh;center,top&resize=980:*"></mat-grid-tile>
</mat-grid-list>