<mat-card class="profile-desk-card">
  <mat-card-title-group>
    <mat-card-title>Christopher Bayadog</mat-card-title>
    <mat-card-subtitle>Student</mat-card-subtitle>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" size="100%">
  </mat-card-title-group>
  <mat-card-content>
    <p>
      Christopher P. Bayadog BSIT-3D
    </p>
    <mat-divider></mat-divider>
    <div class="info age"><mat-icon>face</mat-icon>21 years old</div>
    <div class="info place"><mat-icon>room</mat-icon>Palo,leyte</div>
    <mat-chip-list class="chip">
      <mat-chip><mat-icon>thumb_up</mat-icon></mat-chip>
      <mat-chip><mat-icon> comment</mat-icon></mat-chip>
      <mat-chip><mat-icon>share</mat-icon></mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>



