<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="over" position="start" [autoFocus]="false">
    <div class="closeBtn">
      <button (click)="sidenav.close()" mat-icon-button><mat-icon>close</mat-icon></button>
    </div>

    <button class="navBtn" mat-button routerLink="/" (click)="sidenav.close()">
      <mat-icon>home</mat-icon>Profile<br>
    </button>
    <button class="navBtn" mat-button routerLink="/gallery" (click)="sidenav.close()">
      <mat-icon>photo</mat-icon>Gallery<br>
    </button>
    <button class="navBtn" mat-button routerLink="/contact" (click)="sidenav.close()">
      <mat-icon>contacts</mat-icon>Contact<br>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        color="primary"
        mat-mini-fab
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.open()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Christopher P. Bayadog</span>
      
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

